<li>
	{{name}}

	<button class="change-notDevoured" data-id="{{id}}" data-newNotDevoured="{{notDevoured}}">
		{{#if notDevoured}}Not Devoured{{else}}Devoured{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>